body {
  font-family: Arial;
  padding: 10px;
}
#area {
  border: 1px dashed #aaa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
img {
  max-width: 300px;
  border-radius: 6px;
}
#status {
  color: #444;
}

.btn-gpt {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  background-color: red;
  text-align: center;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.btn-gpt:hover {
  background-color: rgb(209, 5, 5);
}
